.input-field {
    &.no-margin {
        margin: 0.65rem 0 !important;
    }

    input {
        color        : var(--color-light);
        border-radius: 0px !important;
        appearance   : textfield;

        &:focus {
            border-bottom: 1px solid var(--color-accent) !important;
            box-shadow   : 0 1px 0 0 var(--color-accent) !important;
        }
    }

    label.active {
        color: var(--color-accent) !important;
    }
}

.card {
    a {
        color: var(--color-accent) !important;

        &:hover {
            color: var(--color-accent-lighten) !important;
        }
    }
}

div.btn {
    top        : 0.8rem;
    height     : 3rem;
    line-height: 3rem;
    background : var(--color-accent);

    &:not(.no-margin) {
        margin-left: .75rem !important;
    }

    &:hover {
        background: var(--color-accent-darken);
    }

    &.disabled {
        pointer-events: none;
        background    : var(--color-dark-lighten) !important;
    }

    &#info_submit_password,
    &#info_submit_info {
        width: calc(100% - 1.5rem);
    }
}

.red {
    color     : var(--color-red);
    background: none !important;
}

#response_message,
#response_message_password,
#response_message_info {
    margin: .5rem 0 1.25rem;
}