:root {
    --color-accent        : #03f477;
    --color-accent-darken : #019b6f;
    --color-accent-lighten: #6cfcad;
    --color-light         : #dddddd;
    --color-light-darken  : #a29a9a;
    --color-red           : #ff5555;
    --color-dark          : #161616;
    --color-dark-darken   : #101010;
    --color-dark-lighten  : #212121;
}