label.active {
    color: var(--color-accent) !important;
}

.input-field {
    &.no-margin {
        margin: 1.25rem 0 0 0 !important;
    }

    input {
        color        : var(--color-light);
        border-radius: 0px !important;
        appearance   : textfield;

        &:focus {
            border-bottom: 1px solid var(--color-accent) !important;
            box-shadow   : 0 1px 0 0 var(--color-accent) !important;
        }
    }
}

textarea {
    font-size    : 13px !important;
    color        : var(--color-light);
    border-radius: 4px !important;

    &:focus {
        border-bottom: 1px solid var(--color-accent) !important;
        box-shadow   : 0 1px 0 0 var(--color-accent) !important;
    }
}

select {
    border       : none !important;
    border-radius: 4px !important;
    color        : var(--color-light);

    &:focus {
        border    : 1px solid var(--color-accent) !important;
        box-shadow: 0 1px 0 0 var(--color-accent) !important;
    }
}

.btn {
    width      : calc(100% - 1.5rem) !important;
    margin     : 0 .75rem !important;
    top        : 0.8rem;
    height     : 3rem;
    line-height: 3rem;
    background : var(--color-accent);

    &:hover {
        background: var(--color-accent-darken);
    }

    &.disabled {
        pointer-events: none;
        background    : var(--color-dark-lighten) !important;
    }
}