@use "../../../_base/_static/css/colors.scss";

#explorer {
	margin-top: 15px;
	max-height: calc(100vh - 10vh);
	overflow  : auto;
}

.nav-wrapper {
	height: 5vh;
}

.btn {
	width      : calc(33.3333333333% - 1.5rem) !important;
	top        : 0.8rem;
	height     : 46px;
	line-height: 46px;
	background : colors.$accentPrimary;

	&:hover {
		background: colors.$accentPrimaryDarken;
	}

	&.disabled {
		pointer-events: none;
		background    : colors.$dark_light !important;
	}
}