#upload_submit {
    width      : calc(100% - 1.5rem) !important;
    margin-left: .75rem;
}

#upload_response {
    font-size : 18px;
    margin-top: 8px;
}

.file-field {
    margin: 1rem 0 !important;
}

input.file-path {
    color        : var(--color-accent-lighten);
    border-bottom: 1px solid var(--color-accent) !important;
}

.btn {
    top        : 0.8rem;
    height     : 3rem;
    line-height: 3rem;
    background : var(--color-accent);

    &:hover {
        background: var(--color-accent-darken);
    }

    &.disabled {
        pointer-events: none;
        background    : var(--color-dark-lighten) !important;
    }
}