.card-display-item {
    .row {
        margin: 0;

        .col {
            padding: 0;
        }
    }

    table {
        tr {
            td {
                padding: 0;
            }
        }
    }
}

.color-block {
    display      : inline-block;
    width        : 18px;
    height       : 18px;
    border-radius: 0 !important;
    line-height  : 20px;
    color        : var(--color-light-darken);
    text-align   : center;
}

.progress {
    background-color: var(--color-accent) !important;

    .indeterminate {
        background-color: var(--color-accent-darken) !important;
    }
}

.item-stat {
    >div {
        padding-left: 1rem !important;
    }

    .item-stat {
        padding-left: 1rem !important;
    }
}